.imgPokemon{
    width: 65%;
    height: 90px;
    margin: 10px 0px 0px 1%;;
}

.frmRegistrarPokemon{
    margin-top:20px;
 margin-left: 12.5%;
    /* background: #EAEDED; */
    width: 100%;

    
}

.tituloRegistro h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 40.9%;

}

main .colupna1{
    margin-top: 40px;
    width: 25%;
    margin-left:11%; 
     float: left;
    /* margin-right: %; */

 }


main .colupna1 input{
    margin-top: 5px;
    margin-bottom: 20px;
    display: block; 
    width: 100%;

} 


main .colupna1 select{
    display: block;
    margin-top: 5px;
    margin-bottom:10px;
    width: 100%;
   
    
}

main .colupna2{
    margin-top: 40px;
    margin-right: 34%;
    float: right;
    width: 25%;
}

main .colupna2 select{
    display: block;
    margin-top: 5px;
    margin-bottom:20px;
    width: 100%;
   
    
}


.imgP {
    margin-left: 4%;
    background-color: #333333;
    border-radius: 3px;
    border: none;
    padding: 2px 2%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1em;
    outline: none;
}


.btnRegistro{
    text-align: center;
    margin-left: 34%;
    margin-top: 15px;
}

